.comment-card {
  margin: var(--space-medium) 0;
  padding: var(--space-medium);
  border: 2px solid var(--color-light-red);
  border-radius: 1em;
}

.comment-card:nth-child(2) {
  margin-top: var(--space-medium) 0;
}

.comment-content {
  margin-top: var(--space-small);
}
