.comment-card{
    margin: var(--space-medium) 0;
    padding: var(--space-medium);
    border: 2px solid rgb(242, 225, 188);
    border-radius: 2em;
}

.comment-content{
    border-top: solid 1px rgb(208, 201, 201);
    padding: var(--space-small) 0;
}