/* Adjustments for toggleable comments */
.commentlist-heading {
  font-family: 'Nunito', sans-serif;
  font-size: var(--font-size-medium);
  color: var(--color-red-brown);
}

.commentlist-heading::after {
  display: inline-block;
  align-self: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.55);
  font-family: 'Nunito', sans-serif;
  font-size: var(--font-size-medium);
  color: var(--color-red-brown);
  margin-top: var(--space-small);
  margin-bottom: var(--space-small);
}

details.CommentList[open] .commentlist-heading::after {
  content: 'Hide comments';
}
details.CommentList:not([open]) .commentlist-heading::after {
  content: 'Show comments';
}
