.footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-light-neutral);
}

.footer-link {
  margin: 16px;
  color: var(--color-black-brown);
  font-weight: bold;
  text-decoration: none;
}
