.proxy-button {
  background-repeat: no-repeat;
  background-size: 25px 25px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.button-submit:disabled{
  cursor:not-allowed ;
  background-color: var(--color-light-grey);
}

.pick-image {
  background-image: url(../../assets/images/image-solid.svg);
}

.pick-video {
  background-image: url(../../assets/images/video-solid.svg);
}

.proxy-button .tooltiptext {
  visibility: hidden;
  width: fit-content;
  white-space: nowrap;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0 8px;
  border-radius: 1em;
  position: absolute;
  bottom: 38px;
  left: -30px;
}

.tooltiptext::after {
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  --size: 10px;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  position: absolute;
  top: 20px;
  left: calc(50% - var(--size));
}

.proxy-button:hover .tooltiptext {
  visibility: visible;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.form-footer-extras {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.no-file {
  visibility: hidden;
}

.file-selected {
  visibility: visible;
}

.media-name-character-limit-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-x-small);
}

.media-name-full {
  display: inline;
}

.media-name-mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .media-name-full {
    display: none;
  }

  .media-name-mobile {
    display: inline;
  }
}
