/* HTML elements */
label {
  font-family: "Nunito", sans-serif;
}

.user-entered-input,
.register {
  border-radius: 100px ;
  height: var(--space-big);
  border: 1px solid var(--color-black-brown);
  box-sizing: border-box;
}

.user-entered-input {
  padding: var(--font-size-small);
}

.register{
  border-radius : 5px;
}

input:focus,
select.register:focus {
  outline: none;
  border: 2px solid var(--color-teal);
}

/* Classes */
.auth-form {
  background-color: white;
  padding: var(--space-small);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: var(--space-medium);
}

.field-grid {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: stretch;
}

.field {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: var(--space-small);
}

.button-auth {
  background-color: var(--color-red-brown);
  color: white;
  border-radius: 100px;
  border-width: 0;
  padding: 8px;
}

.button-auth:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

/* Desktops */
@media (min-width: 750px) {
  .auth-form {
    margin-right: 0;
  }
}
