.navbar {
  background-color: white;
  width: 100%;
}

.navbar-container {
  display: flex;
  min-height: 48px;
  align-items: center;
  margin: var(--space-x-small);
}

.logo {
  width: auto;
  height: 32px;
}

.user {
  width: auto;
  height: 24px;
  color: #bc3908;
  margin-left: var(--space-medium-small);
  margin-right: var(--space-medium-small);
}

.chat,
.search {
  margin-bottom: 3px;
}

.logout {
  width: auto;
  color: grey;
  margin-right: 0 !important;
}

.logout-button-container {
  display: none;
  text-decoration: none;
}

.button {
  background-color: var(--color-red-brown);
  color: white;
  border-radius: 2em;
  border-width: 0px;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: medium;
  transition: all 0.3s ease-in-out;
}

.nav-icon {
  transition: all 0.3s ease-in-out;
  height: 24px;
  margin-right: 18px;
}

.button:hover,
.nav-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.space {
  background-color: var(--color-light-neutral);
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 640px) {
  .nav-icon {
    height: 32px;
    margin-right: 32px;
  }

  .logo {
    height: 48px;
  }

  .button {
    margin-right: 32px;
  }

  .logout {
    display: none;
  }

  .logout-button-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
