.form {
  margin: 0px;
}

.form-container {
  background-color: white;
  padding: var(--space-small);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: var(--space-medium);
}

.form-field {
  display: grid;
  margin-bottom: var(--space-x-small);
}

textarea.form-input {
  font-size: var(--font-size-medium-small);
  font-family: 'Nunito', sans-serif;
  max-height: 200px;
  resize: none;
  color: var(--color-black-brown);
  box-sizing: border-box;
}

 textarea.form-input:focus {
  border: 2px solid var(--color-teal);
  border-radius: 2px;
  outline: none;
} 

.button-post {
  background-color: var(--color-red-brown);
  content:"post";
  color: white;
  border-width: 0px;
  line-height: normal;
  width: fit-content;
  padding: 0 10px;
  border-radius: 2em;
}

.button-post:hover {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  cursor: pointer;
}

.post {
  margin-right: var(--space-xx-small);
  height: var(--space-medium);
}

.proxy-button {
  background-repeat: no-repeat;
  background-size: 25px 25px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.pick-image {
  background-image: url(../../assets/images/image-solid.svg);
}

.pick-video {
  background-image: url(../../assets/images/video-solid.svg);
}

.proxy-button .tooltiptext {
  visibility: hidden;
  width: fit-content;
  white-space: nowrap;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0 8px;
  border-radius: 1em;
  position: absolute;
  bottom: 38px;
  left: -30px;
}

.tooltiptext::after {
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  --size: 10px;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  position: absolute;
  top: 20px;
  left: calc(50% - var(--size));
}

.proxy-button:hover .tooltiptext {
  visibility: visible;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.form-footer-extras {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.no-file {
  visibility: hidden;
}

.file-selected {
  visibility: visible;
}

.media-name-character-limit-display{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-name-full{
  display: inline;
}

.media-name-mobile{
  display: none;
}

@media screen and (max-width: 640px){
  .media-name-full{
  display: none;
}

.media-name-mobile{
  display: inline;
}
}