.header {
  display: flex;
  justify-content: center;
  align-items: left;
  min-height: 64px;
  height: 64px;
  background-color: white;
}

.logo {
  width: auto;
  height: 40px;
  margin-top: 8px;
  color: #BC3908;
}
